/*
    Created on : 04-may-2016, 18:05:40
    Author     : @author Mario Gomez
*/

.body{
    -fx-background-color: #e1e5e8;
}

.font:hover{
    -fx-text-fill: #007aff;
}

.menuBox{
    -fx-background-color: #007aff;
}

.whitePane{
    -fx-background-color: #FFFFFF;
}

.activitiespane .imageview{
    -fx-image: url('/images/activities.png');
}

.activitiespane:hover .label{
    -fx-text-fill: #007aff;
}

.activitiespane:hover .imageview{
    -fx-image: url('/images/activitiesBlue.png');
}

.statisticspane .imageview{
    -fx-image: url('/images/statistics.png');
}

.statisticspane:hover .label{
    -fx-text-fill: #007aff;
}

.statisticspane:hover .imageview{
    -fx-image: url('/images/statisticsBlue.png');
}

.distancepane .imageview{
    -fx-image: url('/images/road.png');
}

.distancepane:hover .label{
    -fx-text-fill: #007aff;
}

.distancepane:hover .imageview{
    -fx-image: url('/images/roadBlue.png');
}

.durationpane .imageview{
    -fx-image: url('/images/chronometer.png');
}

.durationpane:hover .label{
    -fx-text-fill: #007aff;
}

.durationpane:hover .imageview{
    -fx-image: url('/images/chronometerBlue.png');
}

.vmediapane .imageview{
    -fx-image: url('/images/gauge.png');
}

.vmediapane:hover .label{
    -fx-text-fill: #007aff;
}

.vmediapane:hover .imageview{
    -fx-image: url('/images/gaugeBlue.png');
}

.lastActivityPane{
    -fx-background-color: #FFFFFF;
}

.lastActivityPane:hover .label{
    -fx-text-fill: #007aff;
}

.lastActivityPane:hover .grayLabel{
    -fx-text-fill:#8996a3;
}

.hboxedited{
    -fx-background-color: #007aff;
    -fx-background-radius: 5;
}

.hboxeditedmini{
    -fx-background-color: #eef9fe;
    -fx-background-radius: 5;
}

.hboxnormal{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-color: #e1e5e8;
    -fx-border-radius: 5;
}

.hboxnormal:hover{
    -fx-background-color: #a0a2a5;
    -fx-background-radius: 5;
    -fx-border-color: #a0a2a5;
}

.hboxnormal:hover .label{
    -fx-text-fill: white;
}

.hboxnormalmini{
    -fx-background-color: #7a8084;
    -fx-background-radius: 5;
}

.greenbg{
    -fx-background-color: #76cd29;
}

.greenbg .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.whitebg{
    -fx-background-color: transparent;
}

.whitebg .label1{
    -fx-text-fill: #50575e;
    -fx-font-weight: bold;
}

.whitebg .label2{
    -fx-text-fill: #8996a3;
    -fx-font-weight: normal;
}

.tableColumnC{
    -fx-alignment: center;
}

.acthbox1{
    -fx-background-color: #f4f5f5;
    -fx-border-color: #e4e4e4;
}

.bluebg{
    -fx-background-color: #2ECCFA;
    -fx-border-color: #2E64FE;
    -fx-border-width: 5;
}